extends layouts/main-layout.pug

block content
    div#error-page
        h1(style={'text-align': 'center'}) #{pageTitle}!
        img(style={'display': 'block',
                    'margin-left': 'auto',
                    'margin-right': 'auto'
                    }, src="/images/404.png", alt="unicorn")
