<%- include('head.ejs') %>
    <form class="users-form" action="/add-user" method="POST">
        <div class="form-control">
            <label>Username</label>
            <input type="text" name="username">
        </div>

        <button class="btn" type="submit">Add User</button>
    </form>
    <% if (errorState) { %>
        <p>Invalid username.</p>
    <% } %>
    <script src="/handler.js"></script>
</body>
</html>