<%- include('head.ejs') %>
    <div>
        <h1>Usernames</h1>
        <% if (users.length > 0) { %>
            <ul>
                <% for (let user of users) { %>
                    <li><%= user.name %></li>
                <% } %>
            </ul>
        <% } else { %>
            <p>No users</p>
        <% } %>
    </div>
    <script src="/handler.js"></script>
</body>
</html>